// Callout
section.callout
  .container
    .row
      .col-6
        img.img-fluid(src="placekitten.com/600/400")
      .col-6
        h2.mx-auto.mb-5
          | Details
        p 
          ol
             li 'Dodgy Deals' is a 2019 Melbourne Fringe Festival Event
             li Tour runs on September 11, 12, 16, 17, 18, 23.
             li This is a 90 minute event 
             li Commencing on the steps of the Old Treasury Building, Spring Street and concluding at Spencer Street Station.
             li Full strength, half time refreshments will be provided (unlike the footy).
             li Tickets from $15 - 
              a(href="https://melbournefringe.com.au/event/dodgy-deals-the-collins-street-sellout/" parent="_blank" title="Links to the Melbourne Fringe Festival website") Book here
