// Footer
//footer.footer.text-center
  .container
    ul.list-inline.mb-5
      li.list-inline-item
        a.social-link.rounded-circle.text-white.mr-3(href='#')
          i.icon-social-facebook
      li.list-inline-item
        a.social-link.rounded-circle.text-white.mr-3(href='#')
          i.icon-social-twitter
      li.list-inline-item
        a.social-link.rounded-circle.text-white(href='#')
          i.icon-social-github
    p.text-muted.small.mb-0 Copyright &copy; Batmanian Services 2019
// Scroll to Top Button
a.scroll-to-top.rounded.js-scroll-trigger(href='#page-top')
  i.fas.fa-angle-up
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
// Plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')
// Custom scripts for this template
script(src='js/stylish-portfolio.min.js')
