doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Dodgy Deals -  The Collins Street Sellout
  // Bootstrap Core CSS
  link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Custom Fonts
  link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans&display=swap' rel='stylesheet')
  link(href='vendor/simple-line-icons/css/simple-line-icons.css' rel='stylesheet')
  // Custom CSS
  link(href='css/stylish-portfolio.min.css' rel='stylesheet')
// Navigation
a.menu-toggle.rounded(href='#')
  i.fas.fa-bars
nav#sidebar-wrapper
  ul.sidebar-nav
    li.sidebar-brand
      a.js-scroll-trigger(href='#page-top') Start Bootstrap
    li.sidebar-nav-item
      a.js-scroll-trigger(href='#page-top') Home
    li.sidebar-nav-item
      a.js-scroll-trigger(href='#about') About
    li.sidebar-nav-item
      a.js-scroll-trigger(href='#services') Services
    li.sidebar-nav-item
      a.js-scroll-trigger(href='#portfolio') Portfolio
    li.sidebar-nav-item
      a.js-scroll-trigger(href='#contact') Contact